h2 {
  overflow-wrap: anywhere;
}

.responsive-img {
  border-radius: 15px;
}

.container {
  width:90vw !important;
 }

.video-item {
  width: calc(90vw - 10px);
  height: calc((90vw - 10px) / 16 * 9);
  margin: 10px 5px 0 5px;
}

 @media only screen and (min-width: 601px) {
  .container {
    width:85vw !important;
  }

  .video-item {
    width: calc(85vw - 10px);
    height: calc((85vw - 10px) / 16 * 9);
  }
 }

 @media only screen and (min-width: 993px) {
  .container {
    width:70vw !important;
  }

  .video-item {
    width: calc(35vw - 10px);
    height: calc((35vw - 10px) / 16 * 9);
    max-width: 630px;
    max-height: 354.375px;
  }
 }

hr {
  border-bottom: 6px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

h1 {
  font-weight: bold;
}

.last-update {
  margin: 5px 0 20px;
}

.conetnt {
  margin: 20px 0;
}

.row {
  background-color: white;
  padding-bottom: 1%;
  margin-top: 20px;
}

.what{
  padding-bottom: 3%;
}

.cute{
  padding-top: 10%;
 
}

#video-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-item > img {
  width: inherit;
  height: inherit;
  cursor: pointer;
  max-width: inherit;
  max-height: inherit;
}

.video-item > img, iframe {
  border-radius: 15px;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
    
.cutest{
  padding-bottom: 3%;
}

@media only screen and (max-width: 992px) {
  .col.s12.m6 {
    width: 100%;
  }
}

#trainer-card {
  border-top-left-radius: 2% 3.5%;
  border-top-right-radius: 2% 3.5%;
  border-bottom-left-radius: 2% 3.5%;
  border-bottom-right-radius: 2% 3.5%;
}