.responsive-img {
  width: 600vw;
  height: 350vh;
  border-radius: 15px;
}

hr {
  border-bottom: 6px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

h1 {
  font-weight: bold;
}

.last-update {
  margin: 5px 0 20px;
}

.conetnt {
  margin: 20px 0;
}

.row {
  background-color: white;
  padding-bottom: 1%;
  margin-top: 20px;
}

.what{
  padding-bottom: 3%;
}

.cute{
  padding-top: 10%;
 
}

#video-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-item {
  width: 630px;
  height: calc(630px / 16 * 9);
  margin: 10px 5px 0 5px;
}

.video-item > img {
  width: inherit;
  height: inherit;
  cursor: pointer;
}

.video-item > img, iframe {
  border-radius: 15px;
}

.pic2{
  width: 91vh;
  height: 68vh;
  border-radius: 15px;

}

.pic3{
  width: 99vh;
  height: 54vh;
  border-radius: 15px;

}

.pic4 {
  width: 77vh;
  height: 80vh;
  border-radius: 15px;

}

.pic5{
  width: 82vh;
  height: 103vh;
  border-radius: 15px;
}

.pic6{
  width: 59vh;
  height: 105vh;
  border-radius: 15px;
}

.pic7{
  width: 68vh;
  height: 91vh;
  border-radius: 15px;
}

.pic8{
  width: 68vh;
  height: 91vh;
  border-radius: 15px;
}

.card{
  width: 105vh;
  height: 59vh;
  border-radius: 15px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
    
.cutest{
  padding-bottom: 3%;
}