.responsive-img {
  width: 600px;
  height: 350px;
  border-radius: 15px;
}

hr {
  border-bottom: 6px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

h1 {
  font-weight: bold;
}

.last-update {
  margin: 5px 0 20px;
}

.conetnt {
  margin: 20px 0;
}

.row {
  background-color: white;
  padding-bottom: 1%;
}

#video-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-item {
  width: 630px;
  height: calc(630px / 16 * 9);
  margin: 10px 5px 0 5px;
}

.video-item > img {
  width: inherit;
  height: inherit;
  cursor: pointer;
}

.video-item > img, iframe {
  border-radius: 15px;
}